.menu { 
width :100vw;
    background-color:rgb(38, 177, 224);
    border-radius: 8px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.menu a {
    text-decoration: none;
    color: rgb(20, 5, 5);
    font-weight: bold;
    padding: 0px;
}

.menu a:hover {
    background-color: rgba(235, 24, 24, 0.2);
border-radius:2px ;
}
header h1 {
    text-align:center;
    color:darkblue;
    font-size:2em;
}
.click{
    color:blue;
    background:lightcyan;
    cursor:pointer;
    border-radius:8px;
}
#result {
    color: rgb(75, 20, 227);
    font-weight: bold;
    margin-top: 20px;
  }
  img{
    width: 600px;
    height:250px;
    border-radius: 12px; 
    box-shadow: 0 4px 12px rgba(206, 14, 14, 0.2);

  }
  .image{
    text-align: center; 
    margin: 20px 0;
  }
  .button-container{
    text-align:center;
    margin-top: 20px;
  }
  button{
    background-color: #dad8e7;
  color: rgb(100, 33, 215);
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }
  .data-inputs{display: space-evenly;
flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin-top: 20px;

  }
  .data-inputs input {
    padding: 8px;
    border: 1px solid #382828;
    border-radius: 10px;
    width:150px
  }
  .data-inputs label {
    width: 10PX;
    max-width: 300px;
    margin-bottom: 10px;
    font-size: 15px;
  }
  button:hover {
    background-color: rgb(78, 8, 242); 
    color: white;   
  }     
